<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert" th:if="${exception}">
        <span th:text="${exception.getMessage()}"></span>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    List patients
                </div>
                <div class="card-body">
                    <a th:href="@{/}" class="btn btn-primary mb-3">Ajouter</a>
                    <table class="table table-striped">
                        <tr>
                            <th>Num</th>
                            <th>Nom</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="p:${patients}">
                            <td th:text="${p.id}"></td>
                            <td  th:text="${p.nom}"></td>
                            <td><a th:href="@{/(id=${p.id})}" class="btn btn-primary">Modifier</a></td>
                            <td><a th:href="@{/removePatient(id=${p.id})}" href="" class="btn btn-primary">Supprimer</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 th:if="${editMode}">Edit patient</h3>
                    <h3 th:if="${!editMode}">Save patient</h3>
                </div>
                <div class="card-body">
                    <form th:if="${!editMode}" th:action="@{/savePatient}" method="post">
                        <div>
                            <label>Nom</label>
                            <input type="text" name="nom" />
                        </div>
                        <div>
                            <label>date de naissance</label>
                            <input type="date" name="dateNaissance" />
                        </div>
                        <div>
                            <label>score</label>
                            <input type="number" name="score" />
                        </div>
                        <div>
                            <label>score</label>
                            <input type="checkbox" name="malade" />
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    <form th:if="${editMode}" th:action="@{/editPatient}" method="post">
                        <input type="hidden" name="id" th:value="${patient.id}" />
                        <div>
                            <label>Nom</label>
                            <input type="text" name="nom" th:value="${patient.nom}" />
                        </div>
                        <div>
                            <label>date de naissance</label>
                            <input type="date" name="dateNaissance" th:value="${patient.dateNaissance}" />
                        </div>
                        <div>
                            <label>score</label>
                            <input type="number" name="score" th:value="${patient.score}" />
                        </div>
                        <div>
                            <label>malade </label>
                            <input th:if="${patient.malade}" checked type="checkbox" name="malade" th:value="${patient.malade}" />
                            <input th:if="${!patient.malade}" type="checkbox" name="malade" th:value="${patient.malade}" />
                        </div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>